# WebStorm
.idea/
# Dependencies
node_modules/
# Environment
.env
.env.local

# Build output
dist/
build/

# Logs
*.log
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
